body {
	background-color: darkcyan;
}

h1 {
	color: white;
}

.text-container {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
}

.text-box {
	background-color: white;
	border: 1px solid gray;
	padding: 20px;
}

.text-form {
	padding: 20px 10px;
}

.new-box {
	background-color: lightgray;
	border: 1px solid gray;
	padding: 20px;
	border-radius: 5px;
}

.delete {
	margin-left: 10px;
	margin-right: 10px;
	float: right;
}

/*.............*/

.rating {
  display: inline-block;
  position: relative;
  width: 1.1em;
}









